extends layout

block content
    section.contact
      h1 Contact Us
      p We're here to assist you. If you have any questions, inquiries, or feedback, please don't hesitate to get in touch with us.
      div.contact-details
        div.contact-form
          h2 Send us a Message
          form(action="/contact", method="post")
            div.form-group
              label(for="name") Name:
              input#name.form-control(type="text", name="name", required)
            div.form-group
              label(for="email") Email:
              input#email.form-control(type="email", name="email", required)
            div.form-group
              label(for="message") Message:
              textarea#message.form-control(name="message", rows="4", required)
            button.btn.btn-primary(type="submit") Send Message