extends layout

block content
  .row.page-header
    .col-lg-12
      h1 SKILL INDIA MISSION

  .row
    .col-xs-12.col-md-9
      P  In 2015, Prime Minister, Mr. Narendra Modi launched the Skill India Mission, which was in accordance with his vision to help India become ‘Atmanirbhar’ (self-reliant). This initiative was aimed to create and implement comprehensive skill development training programmes that would help bridge the gap between industry demands and skill requirements and therefore, develop the country at large.

      P The skill India programmes comprised implementing curriculum-based skill training courses, wherein trainees would gain certifications and endorsements from industry-recognised learning centres. The mission also involved incorporating skill-based learning in school curriculum, creating opportunities for both long- and short-term skill training and employment.

                  
    .col-xs-12.col-sm-3
      p.lead
