extends layout

block content
  .row.page-header
    .col-lg-12
      h1 SWACHA BHARAT MISSION

  .row
    .col-xs-12.col-md-9
      .row
        P The Swachh Bharat Mission (SBM) was launched in 2014 to fulfil the vision of a cleaner India by 2 October 2019, as a tribute to Mahatma Gandhi on his 150th birth anniversary.

        P The campaign is one of the biggest-ever drives to accelerate efforts towards achieving universal sanitation coverage, improving cleanliness and eliminating open defecation in India. The Mission comprises components such as the construction of individual household toilets, community and public toilets, and solid and liquid waste management, etc.

        P The Subgroup on Swachh Bharat was constituted on 9 March 2015 (and partially modified on 24 March 2015) in pursuance of the decision taken at the first Governing Council Meeting of NITI Aayog on 8 February 2015. It comprises Chief Ministers of Andhra Pradesh, Bihar, Delhi, Haryana, Karnataka, Maharashtra, Mizoram, Sikkim, Uttarakhand and West Bengal as Members. The Chief Minister of Andhra Pradesh is the convener of the subgroup.

        P The subgroup held wide consultations, including with representatives of non-member States and Central Ministries, and submitted its report to the Hon'ble Prime Minister on 14 October 2015. 
                  
    .col-xs-12.col-sm-3
      p.lead
