extends layout

block content
 .row
  .col-xs-12.col-md-6
    section.hero
      
      h1 Welcome to GOVERNMENTSCHEMES
      p What is a government scheme?
      P Government schemes are programmes launched by the government to improve the standard of living of all citizens. Government schemes are typically categorised into two main types, i.e. central sector and centrally sponsored schemes.
     
    section.featured-dishes
      h2 SCHEMES
      .dish
   
        h3 SWACHH BHARAT MISSION
        p  The Swachh Bharat Mission is a countrywide campaign by the government of India named as the Bharat Abhiyan or the Clean India Mission that was initiated in 2014 that aims at eliminating open excretion and also the management of solid waste is being improved. Its main slogan is one step towards cleanliness.
  
        h3 SKILL INDIA MISSION
        p  Skill India Mission is a government scheme launched in 2015. It is an umbrella scheme that has many skilling schemes and programmes under it. The chief objective is to empower the youth of the country with adequate skill sets that will enable their employment in relevant sectors and also improve productivity.

        h3 BETI BACHAO BETI PADHAO 
        p Beti Bachao, Beti Padhao is a personal campaign of the Government of India that aims to generate awareness and improve the efficiency of welfare services intended for girls. The scheme was launched with an initial funding of ₹100 crore
    footer
      p &copy; gosikakavyasree