extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | schemes
          small &nbsp;Find some amazing government schemes
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/earphones') SWACHA BHARAT MISSION
            small &nbsp;
              span.glyphicon-menu-hamburger
          p The Swachh Bharat Mission is a countrywide campaign by the government of India named as the Bharat Abhiyan or the Clean India Mission that was initiated in 2014 that aims at eliminating open excretion and also the management of solid waste is being improved. Its main slogan is one step towards cleanliness. 
            
        .col-xs-12.list-group-item
          h4
            a(href='/dress') SKILL INDIA MISSION
            small &nbsp;
              span.glyphicon-menu-hamburger
              
          p Skill India Mission is a government scheme launched in 2015. It is an umbrella scheme that has many skilling schemes and programmes under it. The chief objective is to empower the youth of the country with adequate skill sets that will enable their employment in relevant sectors and also improve productivity.

            
        .col-xs-12.list-group-item
          h4
            a(href='/shoe') BETI BACHAO BETI PADHAO
            small &nbsp;
              span.glyphicon-ice-lolly-tasted
              
          p Beti Bachao, Beti Padhao is a personal campaign of the Government of India that aims to generate awareness and improve the efficiency of welfare services intended for girls. The scheme was launched with an initial funding of ₹100 crore.
            
    .col-xs-12.col-sm-4
      p.lead
